<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="name">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <select size="2" name="nameRoles" multiple>
        <option th:each="role : ${roles}"
                th:value="${role.name}"
                th:text="${role.getName()}">
        </option>
    </select>

    <br>
    <br>
    <input type="submit" value="Create!"/>
</form>

<br>
<div th:fragment="exit_button">
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>