<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>For users</title>
</head>
<body>
<h1>Welcome to your private page!</h1>

<div th:object="${user}">
    <p>
        <code>Hello</code>
        <code th:text="${user.getName()}"></code>
        <code th:text="${user.getSurname()}"></code>
        <code>!</code>
    </p>
    <p>
        <code>Your age: </code>
        <code th:text="${user.getAge()}"></code>
    </p>

    <code>Your role(s):</code>
    <code th:each="role:${roles}"  th:text="${user.getRoles()}"></code>

    <br>
    <br>
</div>

<br>
<div th:fragment="exit_button">
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>

</body>
</html>